@model List<DuckI.Dtos.UserInfoDto>

@{
    ViewData["Title"] = "Delete Users";
}

<h2 class="text-primary mt-5">List of Users</h2>
<div class="container mt-0 mt-lg-5" style="max-height: 450px; overflow-y: auto">
    <table class="table">
        <thead>
        <tr class="text-primary">
            <th>User Name</th>
            <th>User Email</th>
            <th>Roles</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody id="tableId">
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.UserName</td>
                <td>@user.UserEmail</td>
                <td>@string.Join(", ", user.Role)</td>
                <td>
                    <form action="@Url.Action("DeleteUserData", "ManageUsers")" method="post" style="display:inline;">
                        <input type="hidden" name="userId" value="@user.UserId" />
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>

@section Scripts
{
    <script src="~/js/deleteUsers.js" asp-append-version="true"></script>
}