@model List<DuckI.Dtos.PrivateAndFlaggedPdfDto>

@{
    ViewData["Title"] = "Home Page";
    var uploadSuccess = TempData["UploadSuccess"] as bool?;
}

@if (User.IsInRole("SuperStudent") || User.IsInRole("Educator") || User.IsInRole("Admin") || User.IsInRole("Reviewer"))
{
    <link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/pdf.css" asp-append-version="true" />
    
   <div class="text-center text-primary">
        <h1 class="display-4">Welcome To DuckI</h1>
    </div>
   
    @if (User.IsInRole("SuperStudent"))
    {
        <div id="spinnerOverlay" class="spinner-overlay d-none">
            <div class="spinner-border text-primary" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    }
    
    <div class="text-center">
        <h1 class="display-4  text-primary">User</h1>
        <p>Enjoy your stay!</p>
    </div>

    <div id="main-container" class="container justify-content-between gap-4 d-flex pt-4 row-cols-2">
        @if (User.IsInRole("SuperStudent") || User.IsInRole("Educator"))
        {
            <div id="pdf-container" class="container">
                @if (User.IsInRole("SuperStudent"))
                {
                    <h2>List of your Private and Flagged PDFs</h2>
                }
                @if (User.IsInRole("Educator"))
                {
                    <h2>List of your Public PDFs</h2>
                }

                <div id="filter-container" class="d-flex gap-3">
                    <p class="text-break mt-2">Filter by tag to find exactly what you need</p>
                    <div class="d-flex w-25 row-cols-4">
                        <select id="tagFilter" class="form-control form-bg-color align-self-center">
                            <option value="">All tags</option>
                        </select>
                        <button id="filterButton" class="btn btn-primary align-self-center">Filter</button>
                    </div>
                </div>

                @if (User.IsInRole("Educator"))
                {
                    <div class="d-flex gap-3 align-items-center">
                        <p class="text-break align-self-center mt-2">View removed PDFs</p>
                        <a href="@Url.Action("ViewRemovedLogs", "Pdf")" class="btn btn-secondary align-self-center">View</a>
                    </div>
                }

                <div id="sortBtn" class="d-flex gap-3 align-items-center">
                    <p class="text-break align-self-center mt-2">Sort the PDFs alphabetically</p>
                    <button id="sortButton" class="btn btn-primary align-self-center">Sort</button>
                </div>

                <div class="bg-table rounded">
                    <table class="table my-4 d-table">
                        <tbody id="pdfTableBody" class="d-flex flex-column gap-2">
                        @foreach (var pdf in Model)
                        {
                            <tr>
                                <td class="d-flex flex-column mx-3 my-2 gap-0 table-primary align-items-center rounded text-light" style="min-height: 4.5em">
                                    <div class="d-flex mx-3 gap-4 align-items-center rounded text-light" style="min-height: 3em">
                                        <form action="@(pdf.IsPublic ? Url.Action("OpenPublicPdf", "Pdf") : Url.Action("OpenPrivatePdf", "Pdf"))" method="post" target="_blank">
                                            <input type="hidden" name="pdfId" value="@pdf.PdfId"/>
                                            <button type="submit" class="btn-link name-size-1 table-primary text-light border-0">@pdf.PdfName</button>
                                        </form>
                                        <div class="d-flex gap-0 bg-light text-primary rounded align-items-center">
                                            <img src="~/images/tag-solid.svg" alt="Logo" class="icon3 p-1"/>
                                            <div id="tag-name" class="name-size-3">@pdf.TagName</div>
                                        </div>
                                    </div>
                                    <div class="mx-3 gap-4 align-items-center rounded text-light" style="min-height: 3em">
                                        @if (User.IsInRole("SuperStudent"))
                                        {
                                            <div id="pdf-author" class="name-size-2 text-center">
                                                @(pdf.IsPublic ? pdf.EducatorUsername : "You")
                                            </div>
                                        }
                                        <div>@(pdf.IsPublic ? "Public" : "Private")</div>
                                        @if (pdf.Rating > 0)
                                        {
                                            @if (User.IsInRole("SuperStudent"))
                                            {
                                                <div id="rating-1" class="element-width2 positive-rating fw-bold">
                                                    +@pdf.Rating
                                                </div>
                                            }
                                            else
                                            {
                                                <div id="rating-1" class="element-width2 positive-rating fw-bold w-100">
                                                    +@pdf.Rating
                                                </div>
                                            }
                                        }
                                        else if (pdf.Rating == 0)
                                        {
                                            @if (User.IsInRole("SuperStudent"))
                                            {
                                                <div id="rating-1" class="element-width2 positive-rating fw-bold">
                                                    @pdf.Rating
                                                </div>
                                            }
                                            else
                                            {
                                                <div id="rating-1" class="element-width2 positive-rating fw-bold w-100">
                                                    @pdf.Rating
                                                </div>
                                            }
                                        }
                                        else
                                        {
                                            @if (User.IsInRole("SuperStudent"))
                                            {
                                                <div id="rating-2" class="element-width2 negative-rating fw-bold">
                                                    @pdf.Rating
                                                </div>
                                            }
                                            else
                                            {
                                                <div id="rating-2" class="element-width2 negative-rating fw-bold w-100">
                                                    @pdf.Rating
                                                </div>
                                            }
                                        }
                                        @if (User.IsInRole("Educator"))
                                        {
                                            <form action="@Url.Action("DeletePublicPdf", "Pdf")" method="post" style="display:inline;"><input type="hidden" name="pdfId" value="@pdf.PdfId"/>
                                                <button type="submit" class="btn btn-danger">Delete</button>
                                            </form>
                                        }
                                    </div>

                                    @if (User.IsInRole("SuperStudent"))
                                    {
                                        <div class="mx-3 gap-4 align-items-center rounded text-light" style="min-height: 3em">
                                            @if (pdf.IsPublic)
                                            {
                                                <form class="unflag-form" data-pdf-id="@pdf.PdfId" style="display:inline;">
                                                    <input type="hidden" name="publicPdfId" value="@pdf.PdfId"/>
                                                    <button type="submit" class="btn btn-danger">Unflag</button>
                                                </form>
                                                <form action="@Url.Action("RatePdf", "Home")" method="post" style="display:inline;">
                                                    <input type="hidden" name="pdfId" value="@pdf.PdfId"/>
                                                    <input type="hidden" name="isUpvote" value="true"/>
                                                    <button type="submit" class="btn btn-success">Upvote</button>
                                                </form>
                                                <form action="@Url.Action("RatePdf", "Home")" method="post" style="display:inline;">
                                                    <input type="hidden" name="pdfId" value="@pdf.PdfId"/>
                                                    <input type="hidden" name="isUpvote" value="false"/>
                                                    <button type="submit" class="btn btn-warning">Downvote</button>
                                                </form>
                                            }
                                            else
                                            {
                                                <form action="@Url.Action("DeletePrivatePdf", "Pdf")" method="post" style="display:inline;">
                                                    <input type="hidden" name="pdfId" value="@pdf.PdfId"/>
                                                    <button type="submit" class="btn btn-danger">Delete</button>
                                                </form>
                                            }
                                            <form action="@Url.Action("CreateTask", "Tasks")" method="post" style="display:inline;">
                                                <input type="hidden" name="pdfId" value="@pdf.PdfId" />
                                                <input type="hidden" name="isPublic" value="@(pdf.IsPublic ? "true" : "false")" />
                                                <button type="submit" class="btn btn-primary">Create Flashcards</button>
                                            </form>
                                        </div>
                                    }
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        }

        <div id="weekEvents" class="container"></div>
    </div>
}
else if (User.IsInRole("Student"))
{
    <div class="text-center text-primary">
        <h1 class="display-4">Welcome To DuckI</h1>
    </div>
}
else if (!User.IsInRole("Student"))
{
    <div class="d-flex flex-lg-row flex-column gap-5">
        <div class="bg-primary w-25 p-2 align-self-center text-center" style="border-radius: 40px">
            <img src="~/images/duck.png" class="w-75" alt="DuckI">
        </div>
        <div class="d-flex gap-4 flex-column ms-5 align-self-center">
            <span>
                <h3 class="text-primary">Welcome to DuckI!</h3>
                <h4>An app made for students, by students.</h4>
            </span>
            <span>
                <p>In this app you can:</p>
                <ul>
                    <li>Upload PDFs: Easily upload your study materials in the form of <br/>PDFs</li>
                    <li>Create Flashcards: Turn your PDFs into flashcards to learn and <br/>review effectively</li>
                    <li>Organize Your School Life: Upload your school calendar and <br/>
                        create personalized events to sty on top of your schedule.</li>
                    <li>Access Public Materials: Explore and download a wide range of <br/>public
                        resources shard by the DuckI community.</li>
                </ul>
            </span>
        </div>
    </div>
}

@section Scripts {
    <script src="~/js/index.js" asp-append-version="true"></script>
    <script>
        @if (User.IsInRole("SuperStudent") || User.IsInRole("Educator"))
        {
            <text>
                document.addEventListener('DOMContentLoaded', async function() {
                    const response = await fetch('/Pdf/GetAllTags', {
                        method: 'GET'
                    });
                    const tags = await response.json();
                    const tagFilter = document.getElementById('tagFilter');
                    tags.forEach(tag => {
                        const option = document.createElement('option');
                        option.value = tag.tagName;
                        option.textContent = tag.tagName;
                        tagFilter.appendChild(option);
                    });
                });

                document.getElementById('filterButton').addEventListener('click', function() {
                    if (document.getElementById("no-pdf")) {
                        document.getElementById("no-pdf").remove();
                    }
                    
                    const selectedTag = document.getElementById('tagFilter').value.toLowerCase();
                    const rows = document.querySelectorAll('#pdfTableBody tr');

                    rows.forEach(row => {
                        const tagName = row.querySelector('.name-size-3').textContent.toLowerCase().trim();
                        if (selectedTag === "" || tagName === selectedTag) {
                            row.style.display = "";
                        } else {
                            row.style.display = "none";
                        }
                    });
                });

                document.getElementById("sortButton").addEventListener("click", function () {
                    var table, rows, switching, i, x, y, shouldSwitch;
                    table = document.getElementById("pdfTableBody");
                    switching = true;
                    while (switching) {
                        switching = false;
                        rows = table.rows;
                        for (i = 0; i < (rows.length - 1); i++) {
                            shouldSwitch = false;
                            x = rows[i].getElementsByTagName("TD")[0].querySelector('form:nth-child(1)').querySelector("button").innerText.trim().toLowerCase();
                            y = rows[i + 1].getElementsByTagName("TD")[0].querySelector('form:nth-child(1)').querySelector("button").innerText.trim().toLowerCase();
                            if (x > y) {
                                shouldSwitch = true;
                                break;
                            }
                        }
                        if (shouldSwitch) {
                            rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                            switching = true;
                        }
                    }
                });

                document.getElementById('filterButton').addEventListener('click', function() {
                    var a = document.querySelectorAll("#pdfTableBody tr");
                    let count = 0;
                    for (let b of a) {
                        if (b.style.display !== "none")
                            count++;
                    }
                    if (count === 0) {
                        const msg = document.createElement("h2");
                        msg.setAttribute("class", "text-primary");
                        msg.setAttribute("id", "no-pdf");
                        msg.innerHTML = "No PDFs available";
                        document.getElementById("pdfTableBody").appendChild(msg);
                    }
                });
            </text>
        }

        // check if the calendar is succesfully uploaded
        @if (uploadSuccess == true)
        {
            <text>
                const element = document.getElementById("flag-message");
                if (typeof(element) != 'undefined' && element != null)
                {
                    element.remove()
                }

                const msg = document.createElement("span")
                msg.setAttribute("id", "flag-message")
                msg.setAttribute("class", "text-center flag-message fw-bold msg-animation")
                msg.style.color = "green";
                msg.style.display = "block";
                msg.innerHTML = "File successfully uploaded!"
                document.getElementById("sortBtn").appendChild(msg)
            </text>
        }

        // for unflagging for SuperStudents
        @if (User.IsInRole("SuperStudent"))
        {
            <text>
                document.querySelectorAll('.unflag-form').forEach(form => {
                    form.addEventListener('submit', async function(event) {
                        event.preventDefault();
                        const formData = new FormData(this);
                        const response = await fetch('/Pdf/UnflagPdf', {
                            method: 'POST',
                            body: formData
                        });

                        if (response.ok) {
                            location.reload();
                        } else {
                            
                            location.reload();
                        }
                    });
                });

                document.querySelectorAll('form[action*="CreateTask"]').forEach(form => {
                    form.addEventListener('submit', function() {
                        document.getElementById('spinnerOverlay').classList.remove('d-none');
                    });
                });
            </text>
        }
    </script>
}